/* sign-up */

.sign-up {
  background: rgb(7, 9, 11);
  background: radial-gradient(
    circle,
    rgba(7, 9, 11, 1) 75%,
    rgba(54, 31, 28, 1) 100%
  );
}

.sign-up .title {
  color: #fff;
}

.sign-up .subtitle {
  color: #a793b1;
}

.sign-up #ics-upload-input {
  display: none;
}

.sign-up #ics-upload-label,
.sign-up #ics-upload-submit {
  border: 3px solid #111;
  background-color: #fff;
  display: inline-block;
  padding: 0.5em 1em;
  cursor: pointer;
  min-width: 80px;
  margin-top: 1em;
  font-weight: 900;
  font-size: 2rem;
  border-radius: 10px;
  /*https://codepen.io/StrengthandFreedom/pen/PoqZRgM*/
  animation-name: backgroundColorPalette;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  /* linear is enabled default, it’s not necessary to add it make it work but it can make your code more expressive */
  transition: all 0.5s ease-out;
}

.sign-up #ics-upload-label:hover,
.sign-up #ics-upload-submit:hover {
  color: white;
}

@keyframes backgroundColorPalette {
  0% {
    background: #ee6055;
  }
  25% {
    background: #60d394;
  }
  50% {
    background: #aaf683;
  }
  75% {
    background: #ffd97d;
  }
  100% {
    background: #ff9b85;
  }
}

@media only screen and (max-width: 600px) {
  .sign-up #ics-upload-label,
  .sign-up #ics-upload-submit {
    padding: 0.75em 0.75em;
    font-size: 1.25rem;
  }
}
