/* average-meeting-length */
.average-meeting-length {
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
}

.average-meeting-length .title {
  color: rgb(21, 46, 64);
}

.average-meeting-length .subtitle {
  color: rgb(21, 46, 64);
}

.average-meeting-length .num {
  color: rgb(234, 113, 38);
  font-size: 2.5rem;
}

.average-meeting-length .wrapper {
  background-color: rgb(250, 180, 77);
  padding: 0.25em;
  border-radius: 0.25em;
  box-shadow: 2px 4px rgb(244, 155, 49);
  transform: rotate(-1deg);
}
