.cy-slide-container {
  width: 100%;
  height: inherit;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  background: linear-gradient(90deg, #7a4aef 0%, #ee83ff 98.65%), #ffffff;
}
.cy-slide-container .content {
  max-width: 70%;
  margin: 0 auto;
}

.cy-slide-chart {
  padding-left: 10%;
  padding-right: 10%;
  width: 600px;
  margin: 40px auto;
}

.cy-slide-container h1 {
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.2;
  color: #fff;
}

.cy-slide-container h2 {
  font-size: 2rem;
  line-height: 1.6;
  color: #fff;
}

@media only screen and (max-width: 600px) {
  .cy-slide-container h1 {
    font-size: 2rem;
    line-height: 1.2;
  }

  .cy-slide-container h2 {
    font-size: 1rem;
    line-height: 1.5;
  }

  .cy-slide-container .content {
    max-width: 90%;
  }
}

/* 
.cy-slide-container .group label {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.2;
  color: #0a070b;
}

.cy-slide-container .group span {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.2;
  color: #0a070b;
  margin-left: 1em;
} */

.total-meetings .content-wrapper {
  /* background: #fff;
    padding: 95px 45px 94px; */
}

/* meetings-in-each-month */

.meetings-in-each-month {
  background-color: #ffe53b;
  background-image: linear-gradient(147deg, #ffe53b 0%, #ff2525 74%);
}
